@import "theme-variables";
@import "defaults";
@import "lib/css-grid-utility";
@import "typography";

// .primary-container {
// 	display: grid;
// 	grid-template-rows: 60px auto 60px;
// 	min-height: 100vh;
// }
.primary-container main {
    min-height: calc(100vh - 60px - 81px);
    
}
.main-wrapper {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100vw;
    padding-bottom: 5%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1405%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1406)'%3e%3c/rect%3e%3cpath d='M94.915%2c416.881C120.255%2c417.487%2c138.95%2c396.105%2c151.5%2c374.083C163.896%2c352.33%2c170.639%2c326.58%2c159.012%2c304.407C146.629%2c280.793%2c121.551%2c264.953%2c94.915%2c266.174C69.942%2c267.319%2c51.332%2c287.444%2c40.25%2c309.852C30.48%2c329.606%2c32.808%2c351.857%2c42.832%2c371.483C54.06%2c393.466%2c70.238%2c416.291%2c94.915%2c416.881' fill='rgba(252%2c 246%2c 189%2c 0.7)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M398.76542606305827 335.96023112623544L320.73931597397336 299.5760584556501 284.35514330338805 377.6021685447351 362.381253392473 413.98634121532035z' fill='rgba(252%2c 246%2c 189%2c 0.7)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1172.0546707119208 209.4866925661375L1236.5002885715644 123.96446910936965 1150.9780651147967 59.51885124972608 1086.5324472551529 145.04107470649393z' fill='rgba(252%2c 246%2c 189%2c 0.7)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M384.699%2c357.901C438.032%2c357.579%2c476.261%2c313.738%2c504.03%2c268.204C533.411%2c220.027%2c560.619%2c162.865%2c533.978%2c113.121C506.328%2c61.493%2c443.154%2c41.787%2c384.699%2c45.383C332.243%2c48.61%2c289.26%2c83.541%2c264.17%2c129.72C240.301%2c173.652%2c239.492%2c225.451%2c262.844%2c269.66C287.949%2c317.187%2c330.95%2c358.226%2c384.699%2c357.901' fill='rgba(252%2c 246%2c 189%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M723.1521555567908 251.8607509448461L878.4388167726123 179.62948282071412 757.3196425012287 91.63125175566125z' fill='rgba(252%2c 246%2c 189%2c 0.7)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M905.6216627060796 166.82697000021062L874.3633053577294 218.84961278705072 968.0264482121646 239.72582741615625z' fill='rgba(252%2c 246%2c 189%2c 0.7)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1050.5017910394924 109.57813406413106L1019.4064043062135 39.73675196241311 930.192024520276 121.30052311319065z' fill='rgba(252%2c 246%2c 189%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1405'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1406'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 194%2c 222%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: var(--header-bg);
    padding: calc(1rem) calc(2% + 0.25rem) calc(7rem + 5%);
    margin-bottom: -2rem;
}

.site-navigation {
    .menu-items {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu-items li {
        display: inline-block;
        margin-left: 20px;
    }

    a {
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;

        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }

    a[aria-current="page"] {
        color: rgba(255, 255, 255, 1);
    }

    .menu-trigger {
        display: none;
        font-size: 2.5rem;
        background: none;
        border: none;
        color: white;
        padding: 0;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            transform: scale3d(1.05, 1.05, 1);
        }
    }

    @media (max-width: $breakpoint-lg) {
        .menu-trigger,
        .icon-menu-line {
            display: flex;
        }

        .icon-menu-close {
            display: none;
        }

        .menu-trigger.is-active {
            .icon-menu-line {
                display: none;
            }

            .icon-menu-close {
                display: flex;
            }
        }

        .menu-trigger.is-active + .menu-items {
            display: block;
        }

        .menu-items {
            display: none;
            position: absolute;
            right: 0;
            top: 100%;
            z-index: 1;
            background: var(--blue-dark);
            width: 100%;
            max-width: 320px;
            border-radius: 0 0 0 12px;
            overflow: hidden;
            margin-top: calc(-6rem - 5%);
            border-radius: 1rem;
            box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.3);
            right: 0.5rem;            
        }

        ul li {
            display: block;
            margin-left: 0;
        }

        a {
            display: block;
            padding: 20px;
        }

        a:hover {
            color: white;
        }
    }
}

.container {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 20px;
}

.site-logo {
    font-weight: bold;
    font-size: 2rem;
    position: relative;

    .site-logo-overlay {
        position: absolute;
        top: -0.25rem;
        left: -0.25rem;
        color: rgba(255, 255, 255, 0.4);
    }

    .site-logo-link {
        position: relative;
        color: var(--white);
        text-decoration: none;
        display: block;
        transition: 0.3s all;
        transition-timing-function: cubic-bezier(0.34, 0.72, 0.64, 0.25);
        transform: scale3d(1, 1, 1);
        width: 120%;

        &:hover {
            transform: scale3d(1.05, 1.05, 1);
            color: rgba(255, 255, 255, 0.4);

            .site-logo-overlay {
                color: rgba(255, 255, 255, 1);
                left: 0.5rem;
                top: 0.5rem;
            }
        }
    }

    @media (max-width: $breakpoint-lg) {
        font-size: 1.5rem;
    }
}

.home-banner {
    padding: 60px 0;
    align-items: center;

    .title {
        font-size: 48px;
        line-height: 48px;
        margin: 0 0 5px;
        font-weight: 900;

        @extend .font-secondary;

        color: var(--pink);
        // opacity: 0.5;
    }

    .tagline {
        font-size: 24px;
        margin-top: 0;
        margin-top: 2px;
        color: rgba(0, 0, 0, 0.7);
    }

    .description {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 30px;
    }

    .featured-image {
        border-radius: 12px;
        box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.2);
    }

    @media (max-width: $breakpoint-md) {
        padding-top: 30px;

        > div:nth-child(1) {
            padding-bottom: 30px;
        }
    }
}

.home-posts {
    .grids {
        padding-bottom: 30px;
    }

    padding-bottom: 100px;
}

.post-card {
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    transition: box-shadow .3s linear;

    .featured-image {
        border-radius: 12px;

        img {
            display: block;
            margin: 0;
        }
    }

    .title {
        margin: 0 0 3px;
        font-size: 20px;
        font-weight: 600;

        a {
            color: var(--post-link-color);
        }
    }

    &:hover {
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);

        .title {
            color: var(--button-alternate-color);
        }
    }

    .meta {
        margin: 0;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
    }

    .post-content {
        margin-top: 16px;
    }

    @media (max-width: $breakpoint-md) {
        padding: 0;

        .post-content {
            padding: 16px;
            margin-top: 0;
        }

        .featured-image {
            border-radius: 12px 12px 0 0;
        }
    }
}

.article-header {
    padding: 35px 0;
    text-align: center;
    margin: 0 auto;

    h1 {
        font-size: 36px;
        font-size: clamp(18px, calc(1rem + 2vw), 36px);
        margin: 0 auto 6px;
        max-width: 768px;
        line-height: 1.3;
        font-weight: 600;
    }

    time {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.6);
    }
}

@media (max-width: $breakpoint-sm) {
    .post-card .featured-image {
        min-height: 300px;
    }
}

article figure {
    margin: 40px 0;
    text-align: center;

    figcaption {
        font-size: var(--font-size-small);
        color: var(--text-color-meta);
        margin-top: 5px;
    }
}

article blockquote {
    margin-left: 0;
    padding: 5px 5px 5px 20px;
    background-color: #f2f2f2;
    border-left: 3px solid rgba(0, 0, 0, 0.1);
}

article iframe {
    border: 2px solid black;
    box-sizing: border-box;
}

article img {
    max-width: 100%;
}

.blog-post-content {
    max-width: 70ch;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.5;
    font-size: 20px;
}

.blog-post {
    .featured-image {
        min-height: 50vh;
        max-height: 100vh;
        border-radius: 12px;
    }
}

// Buttons
.button {
    --padding: 20px;
    --margin: 20px;
    display: inline-flex;
    align-items: center;
    padding: var(--padding) calc(var(--padding) * 2);
    background-color: var(--button-alternate-color);
    color: var(--button-color);
    border-radius: 12px;
    text-decoration: none;
    appearance: none;
    border: 1px solid transparent;
    font-size: inherit;
    line-height: 1;
    transition: background .3s linear;

    &:hover {
        background-color: var(--button-color);
        color: var(--button-alternate-color);
        border: 1px solid var(--button-alternate-color);
    }

    &.-outline {
        color: var(--primary-color);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
        background: #fff;

        &:hover {
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
            background: #f2f2f2;
        }
    }

    .icon {
        display: inline-flex;

        &.-right {
            margin-left: var(--margin);
        }

        &.-left {
            margin-right: var(--margin);
        }
    }
}

// Page
.page,
.blog-page,
.contact-page,
.thanks-page,
.not-found-page {
    padding: 50px 20px;

    .wrapper {
        max-width: 768px;
        margin: 0 auto;
    }
}

// Contact page
.contact-page {
    .wrapper {
        max-width: 768px;
        margin: 0 auto;
    }

    .description {
        line-height: 1.5;
    }
}

.contact-form {
    margin-top: 36px;

    label {
        color: var(--label-text);
    }

    input,
    textarea {
        width: 100%;
        max-width: 100%;
        margin: 8px 0 16px;
        padding: 16px;
        border: 6px solid #A4A89760;
        border-radius: 12px;
        appearance: none;
        font-size: 18px;
        font-weight: 600;

        &:focus {
            border-color: var(--input-focus-border);
        }
    }
}

.site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--footer-bg);
    text-align: center;
    position: relative;
    font-size: 1.15rem;
    padding: 5% 5% calc(2rem + 5%);
    margin-top: -2px;

    .footer-content {
        background-color: rgba(255,255,255,0.8);
        padding: 20% 10%;
        border-radius: 12px;
        width: max-content;
        @media (max-width: $breakpoint-md) {
            width: unset;
        }
    }

    // p {
    //     margin-bottom: 0.25rem;
    //     margin-top: 0;
    // }

    a {
        font-weight: normal;
        display: inline-flex;
        align-items: flex-end;
        color: var(--pink-dark);
        text-transform: lowercase;
        &:hover {
            color: var(--pink);
        }
    }

    .site-footer-fb {
        background-color: rgba(255,255,255,0.8);
        border-radius: 12px;
    }

    .catdog {
        position: absolute;
        bottom: 0;
        left: 5%;
        font-size: 10vw;

        .catdog-link {
            color: var(--catdog);
        }
    }


}

.pagination {
    text-align: center;
    padding: 50px 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        display: inline-block;
        margin: 0 5px;
    }

    a {
        display: inline-block;
        padding: 10px 20px;
        font-weight: bold;
        line-height: 1;

        &.is-active {
            color: var(--header-bg);
            pointer-events: none;
        }
    }

    &.-post {
        text-align: inherit;
        padding: 20px 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin: 50px 0 0;

        ul {
            display: flex;
            justify-content: space-between;
        }

        li:nth-child(1) {
            text-align: left;
        }

        li:nth-child(2) {
            text-align: right;
        }

        p {
            font-size: 14px;
            margin: 0 0 5px;
            color: rgba(0, 0, 0, 0.5);
        }

        a {
            font-weight: normal;
            font-size: 16px;
            padding: 0;
        }

        .page-title {
            line-height: 1.3;
        }
    }

    @media (max-width: $breakpoint-md) {
        padding: 50px 0 ul {
            display: flex;
            justify-content: space-between;
        };

        &.-post ul {
            display: grid;
            justify-content: normal;

            a {
                padding: 20px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                display: block;
                margin-bottom: 10px;
                background: #fafafa;
            }
        }

        .num {
            display: none;
        }
    }
}

@import "utility";

// Libraries
@import "lib/prism-default";
